HOST=0.0.0.0
PORT=1337
APP_KEYS=D2dCQd/ZH9+uvg3sOjxNng==,1GqfFCZ8h/GaIV/bksbo9g==
API_TOKEN_SALT=GQerJ1miA1CE/hRQ9u0ICQ==
ADMIN_JWT_SECRET=HZR3PUJEZBccU0Mny5nWWAz5lsZPYfClVsqOeEellKs=
TRANSFER_TOKEN_SALT=PVuSlAVDbiZhz5NIL6enUA==
JWT_SECRET=/x4wP5Sb+LZ5jpgFjRS+x+x1i3o4irF45BrW5jqk0h4=
ENCRYPTION_KEY=ukkOIBijCdYaOl1nDAdiPw==
